<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<hr />

<% article.comments.forEach(function(comment) { %>
  
  <div class="well">
    <h2>Name:
      <%= comment.name %> 
    </h2>
  </div>
<% }) %>
<a href="/">&larr; Back Home</a>
